@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Party! On Garth!</title>
    </head>
    <body>
        <div>
            We're going to party like it's 1999!
        </div>
        <a asp-action="RsvpForm">RSVP Now!</a>
    </body>
</html>

