@model PartyInvites_v2.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>RsvpForm</title>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <h5 class="bg-primary text-white text-center m-2 p-2">RSVP</h5>
        <form asp-action="RsvpForm" method="post" class="m-2">
            <div class="validation-summary-errors" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label">Your name:</label>
                <input asp-for="Name" class="form-control" />
                <span class="field-validation-error" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-label">Your email:</label>
                <input asp-for="Email" class="form-control"/>
                <span class="field-validation-error" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="form-label">Your phone:</label>
                <input asp-for="Phone" class="form-control" />
                <span class="field-validation-error" asp-validation-for="Phone"></span>
            </div>
            <div class="form-group">
                <label asp-for="WillAttend">Will you attend?</label>
                <select asp-for="WillAttend">
                    <option value="">Choose an option</option>
                    <option value="true">Yes, I will be attending</option>
                    <option value="false">No, I will not be attending</option>
                </select>
                <span class="field-validation-error" asp-validation-for="WillAttend"></span>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit RSVP</button>
        </form>
    </body>
</html>
